main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .toDoContainer {
    width: 600px;
    border: 1px solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(207, 215, 225), rgb(162, 162, 216));
    border-radius: 18px;
    .headings {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      color: rgb(15, 15, 15);

      img {
        margin-top: 18px;
        width: 30px;
        height: 30px;
      }
      margin-bottom: 1rem;
    }

    .input-div {
      display: flex;
      gap: 1rem;
      margin-left: 50px;

      #tasks {
        padding: 10px 50px;
        border-radius: 30px;
        border: 2px solid rgb(196, 170, 170);
        font-size: 20px;
        cursor: pointer;
      }

      button {
        background: #e65a30;
        color: #02111f;
        font-size: 20px;
        font-weight: 600;
        padding: 0 25px;
        border-radius: 18px;
        cursor: pointer;
      }
    }

    .todo-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
  }
}
