.completed {
  text-decoration: line-through;
  .delete {
    list-style-type: none;
  }
}
li {
  display: flex;
  font-size: 24px;

  .list-container {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
      input{
        width: 20px;
      }
    .delete,
    .edit {
      margin-left: 12px;
      background: #c3a0c5;
      padding: 5px 10px;
      border-radius: 12px;
      font-size: 15px;
      color: #000;
      border: 1px solid rgb(37, 51, 52);
    }
  }

  .edit-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 18px;

    .input-edit {
      display: flex;
      gap: 1rem;
      padding: 8px 30px;
      border-radius: 20px;
      border: 1px solid rgb(39, 58, 92);
    }

    .save,
    .cancel {
      padding: 5px 10px;
      border-radius: 12px;
      font-size: 15px;
    }

    .save{
      background: #6b995d;

    }

    .cancel{
      background: rgb(196, 170, 104);
    }
  }
}
// #8b6b82;
